* {
  box-sizing: border-box;
}

.resource-area {
  background-color: brown;
  
  width: 1200px;
  border: 4px gold groove;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.map-and-menu-area {
  display: flex;
  flex-direction: row;
}

.map-area {
  background-color: green;
  height: 800px;
  width: 800px;
  border: 4px gold groove;
}

.side-menu {
  background-color: brown;
  height: 800px;
  width: 400px;
  border: 4px gold groove;
}

.resource-box {
  width: 33.33%;
  height: 50px;
  text-transform: capitalize;
  border: 1px gold groove;
  padding-left: 5px;
}

/*-------------Buildings--------------*/

.building {
  position: absolute;
  border: 1px gold groove;
  background-color: brown;
  padding: 10px;
}

.quickloot-button {
  border: 1px gold groove;
  background-color: brown;
}

.woodcutters {
  left: 100px;
  top: 400px;
}

.quarry {
  left: 625px;
  top: 420px;
}

.farm {
  left: 190px;
  top: 700px;
}

.camp {
  left: 450px;
  top: 600px;
}

.lake {
  left: 680px;
  top: 700px;
}
